.navbar-logo {

    height: 60px;
    object-fit: contain;
}


.navbar-light {

    display: flex;
    justify-content: center;
    
}
.navbar {

    height: 130px;
    width: 80%;
    margin: 0px auto;
}
.nav-links {

    margin-right: 10%;
    font-size: 20px;
    font-weight: bold;
    background-color: none;
    padding: 20px;
    
}
.nav-links a:hover {

    opacity: 60%;
    text-shadow: 1px 1px 5px white;
}
.thumb {
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: contain;
}
#foods-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin: 20px auto;
}
.foods{
         border-radius: 20px;
         box-shadow: 1px 1px 10px gray;
         background-color: #d3d3d300;
         width: 300px;
         height: 400px;
}
.foods:hover {

    filter: opacity(70%);
}
h1 {

    padding-bottom: 10px;
}

#ingredients {

    display: block;
}
#details-button {

    outline: none;
    border: none;
    border-radius: 20px;
    height: 400px;
}
.foods1 {


}
.paragraph {

    color: grey;
    font-weight: normal;
    font-size: 20px;
}
.paragraph i{

    color: orange;

}
#input {
    width: 70%; 
    padding: 5px;
    background: none;
    outline: none;
    border: none;
    background-color: #f3efef;

 }
 #search-btn {
    padding: 9px;
    background-color: tomato;
    outline: none;
    color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    border: 4px solid tomato;
    width: 100px;
 }
 #search-btn:hover {

    color: rgb(179, 176, 176);
 }
 .thumb-2 {

    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px;
 }
 #main-section {

    margin-top: 20px;
 }

.foods1 {
    width: 50%;
    margin: 10px auto;
}
#get-error {

    color: brown;
    text-align: center;
}
@media only screen and (max-width: 900px) {

    #foods-container {

        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .foods{
             border-radius: 20px;
             box-shadow: 1px 1px 10px gray;
             background-color: #d3d3d300;
             width: 300px;
             height: 400px;
    }

@media only screen and (max-width: 700px) {

    #foods-container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        }
    
  }
}